@page
@model SportsClub.Checkout.VideoPlayerModel
@{
    ViewData["Title"] = @Model.eventName;
}

@section Styles {
    <link rel="stylesheet" href="https://vjs.zencdn.net/7.11.4/video-js.css" />
      <style>
         body {
            background-image: url(@Model.backgroundURL);
            text-align: center;
         }
    </style>
}

@section HeadScripts {
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
  <script src="https://unpkg.com/videojs-contrib-quality-levels@2.0.9/dist/videojs-contrib-quality-levels.min.js"></script>
  <script src="https://unpkg.com/videojs-hls-quality-selector@1.0.5/dist/videojs-hls-quality-selector.min.js"></script>
}

  <video-js 
    id="my-video"
    class="video-js vjs-big-play-centered"
    controls
    autoplay=false
    preload="auto"
    poster="@Model.posterURL"
    data-setup="{}"
    width="1280"
    height="720"
    style="display:block; margin: 0 auto;"
  >
    <source src="http://20.200.79.20/tv/dynamic.m3u"" type='application/x-mpegURL'>
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video-js>

@section BodyScripts {
  <script>
    // only needed, when you want the quality selector. Otherwise you can skip the whole script block
    var player = videojs('my-video');
    player.hlsQualitySelector();
</script>
}