@font-face {
  font-family: "Square Market";
  src: url() format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Square Market";
  src: url(/assets/sqmarket-light.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Square Market";
  src: url(/assets/sqmarket-regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Square Market";
  src: url(/assets/sqmarket-medium.woff) format("woff");
  font-weight: 500;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Square Market", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #66696b;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 24px;
  font-weight: 300;
}
h2 {
  font-size: 18px;
  font-weight: 300;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
a {
  color: #61b1d9;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 1px solid #c2c7cc;
  height: 1px;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}
.text-muted {
  color: #abaeb0;
}
.text-center {
  text-align: center;
}
.font-weight-500 {
  font-weight: 500;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.grey-text {
  color: #85898c;
}
.divider-text {
  display: none;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.divider-text span {
  position: relative;
  display: inline-block;
}
.divider-text span:before,
.divider-text span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #c2c7cc;
}
.divider-text span:before {
  right: 100%;
  margin-right: 15px;
}
.divider-text span:after {
  left: 100%;
  margin-left: 15px;
}
.padding-small {
  padding: 10px;
}
.padding-vertical-small {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-horizontal-small {
  padding-right: 10px;
  padding-left: 10px;
}
.padding-medium {
  padding: 20px;
}
.padding-vertical-medium {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-horizontal-medium {
  padding-right: 20px;
  padding-left: 20px;
}
.padding-large {
  padding: 30px;
}
.padding-vertical-large {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding-horizontal-large {
  padding-right: 30px;
  padding-left: 30px;
}
.container {
  max-width: 1170px;
  margin: 0 auto 30px auto;
}
.row:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}
.col-30,
.col-40,
.col-60,
.col-70 {
  float: left;
}
.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.col-70 {
  width: 70%;
}
@media (max-width: 1000px) {
  .col-30,
  .col-40,
  .col-60,
  .col-70 {
    width: 100%;
  }
}
.banner {
  text-align: center;
  color: #fff;
}
.banner--success {
  padding: 15px 0;
  background-color: #4ab300;
}
.banner--sandbox {
  background-color: #fece2e;
  overflow-y: hidden;
  animation-name: lowerBanner;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.4s;
}
.banner--error {
  padding: 15px 0;
  background-color: #dd3e20;
}
@keyframes lowerBanner {
  0% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0px;
  }
}
.banner--sandbox a {
  display: block;
  padding: 15px 0;
  color: #dd3e20;
}
.button {
  padding: 12px 20px;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  font-family: "Square Market";
  cursor: pointer;
  -webkit-appearance: none;
}
.button:disabled {
  opacity: 0.5;
}
.button--primary {
  background-color: #3aab00;
}
@media (max-width: 650px) {
  .button--primary {
    height: 60px;
  }
}
.button--block {
  display: block;
  width: 100%;
}
.button--applepay {
  height: 48px;
  padding: 0;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-color: #000;
  background-size: 100% 20px;
  background-repeat: no-repeat;
  background-position: left 70px top 15px;
}
.button--applepay:before {
  content: "Buy with";
  font-family: -apple-system;
  font-size: 1.1em;
  color: #fff;
  margin-left: -65px;
  font-weight: bold;
}
.button--googlepay {
  height: 48px;
  cursor: pointer;
  background-color: #000;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22103%22%20height%3D%2217%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M.148%202.976h3.766c.532%200%201.024.117%201.477.35.453.233.814.555%201.085.966.27.41.406.863.406%201.358%200%20.495-.124.924-.371%201.288s-.572.64-.973.826v.084c.504.177.912.471%201.225.882.313.41.469.891.469%201.442a2.6%202.6%200%200%201-.427%201.47c-.285.43-.667.763-1.148%201.001A3.5%203.5%200%200%201%204.082%2013H.148V2.976zm3.696%204.2c.448%200%20.81-.14%201.085-.42.275-.28.413-.602.413-.966s-.133-.684-.399-.959c-.266-.275-.614-.413-1.043-.413H1.716v2.758h2.128zm.238%204.368c.476%200%20.856-.15%201.141-.448.285-.299.427-.644.427-1.036%200-.401-.147-.749-.441-1.043-.294-.294-.688-.441-1.183-.441h-2.31v2.968h2.366zm5.379.903c-.453-.518-.679-1.239-.679-2.163V5.86h1.54v4.214c0%20.579.138%201.013.413%201.302.275.29.637.434%201.085.434.364%200%20.686-.096.966-.287.28-.191.495-.446.644-.763a2.37%202.37%200%200%200%20.224-1.022V5.86h1.54V13h-1.456v-.924h-.084c-.196.336-.5.611-.91.826-.41.215-.845.322-1.302.322-.868%200-1.528-.259-1.981-.777zm9.859.161L16.352%205.86h1.722l2.016%204.858h.056l1.96-4.858H23.8l-4.41%2010.164h-1.624l1.554-3.416zm8.266-6.748h1.666l1.442%205.11h.056l1.61-5.11h1.582l1.596%205.11h.056l1.442-5.11h1.638L36.392%2013h-1.624L33.13%207.876h-.042L31.464%2013h-1.596l-2.282-7.14zm12.379-1.337a1%201%200%200%201-.301-.735%201%201%200%200%201%20.301-.735%201%201%200%200%201%20.735-.301%201%201%200%200%201%20.735.301%201%201%200%200%201%20.301.735%201%201%200%200%201-.301.735%201%201%200%200%201-.735.301%201%201%200%200%201-.735-.301zM39.93%205.86h1.54V13h-1.54V5.86zm5.568%207.098a1.967%201.967%200%200%201-.686-.406c-.401-.401-.602-.947-.602-1.638V7.218h-1.246V5.86h1.246V3.844h1.54V5.86h1.736v1.358H45.75v3.36c0%20.383.075.653.224.812.14.187.383.28.728.28.159%200%20.299-.021.42-.063.121-.042.252-.11.392-.203v1.498c-.308.14-.681.21-1.12.21-.317%200-.616-.051-.896-.154zm3.678-9.982h1.54v2.73l-.07%201.092h.07c.205-.336.511-.614.917-.833.406-.22.842-.329%201.309-.329.868%200%201.53.254%201.988.763.457.509.686%201.202.686%202.079V13h-1.54V8.688c0-.541-.142-.947-.427-1.218-.285-.27-.656-.406-1.113-.406-.345%200-.656.098-.931.294a2.042%202.042%200%200%200-.651.777%202.297%202.297%200%200%200-.238%201.029V13h-1.54V2.976zm32.35-.341v4.083h2.518c.6%200%201.096-.202%201.488-.605.403-.402.605-.882.605-1.437%200-.544-.202-1.018-.605-1.422-.392-.413-.888-.62-1.488-.62h-2.518zm0%205.52v4.736h-1.504V1.198h3.99c1.013%200%201.873.337%202.582%201.012.72.675%201.08%201.497%201.08%202.466%200%20.991-.36%201.819-1.08%202.482-.697.665-1.559.996-2.583.996h-2.485v.001zm7.668%202.287c0%20.392.166.718.499.98.332.26.722.391%201.168.391.633%200%201.196-.234%201.692-.701.497-.469.744-1.019.744-1.65-.469-.37-1.123-.555-1.962-.555-.61%200-1.12.148-1.528.442-.409.294-.613.657-.613%201.093m1.946-5.815c1.112%200%201.989.297%202.633.89.642.594.964%201.408.964%202.442v4.932h-1.439v-1.11h-.065c-.622.914-1.45%201.372-2.486%201.372-.882%200-1.621-.262-2.215-.784-.594-.523-.891-1.176-.891-1.96%200-.828.313-1.486.94-1.976s1.463-.735%202.51-.735c.892%200%201.629.163%202.206.49v-.344c0-.522-.207-.966-.621-1.33a2.132%202.132%200%200%200-1.455-.547c-.84%200-1.504.353-1.995%201.062l-1.324-.834c.73-1.045%201.81-1.568%203.238-1.568m11.853.262l-5.02%2011.53H96.42l1.864-4.034-3.302-7.496h1.635l2.387%205.749h.032l2.322-5.75z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M75.448%207.134c0-.473-.04-.93-.116-1.366h-6.344v2.588h3.634a3.11%203.11%200%200%201-1.344%202.042v1.68h2.169c1.27-1.17%202.001-2.9%202.001-4.944%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M68.988%2013.7c1.816%200%203.344-.595%204.459-1.621l-2.169-1.681c-.603.406-1.38.643-2.29.643-1.754%200-3.244-1.182-3.776-2.774h-2.234v1.731a6.728%206.728%200%200%200%206.01%203.703%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M65.212%208.267a4.034%204.034%200%200%201%200-2.572V3.964h-2.234a6.678%206.678%200%200%200-.717%203.017c0%201.085.26%202.11.717%203.017l2.234-1.731z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M68.988%202.921c.992%200%201.88.34%202.58%201.008v.001l1.92-1.918c-1.165-1.084-2.685-1.75-4.5-1.75a6.728%206.728%200%200%200-6.01%203.702l2.234%201.731c.532-1.592%202.022-2.774%203.776-2.774%22%20fill%3D%22%23E94235%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 128px;
}
#apple-pay {
  text-align: center;
  padding-top: 20px;
  display: none;
}
@media (max-width: 650px) {
  #apple-pay {
    border-top: 1px solid #c2c7cc;
  }
  #apple-pay .button-container {
    padding: 0 18px;
  }
}
#google-pay {
  text-align: center;
  padding-top: 20px;
  display: none;
}
@media (max-width: 650px) {
  #google-pay {
    border-top: 1px solid #c2c7cc;
    background-color: #fafafa;
  }
  #google-pay .button-container {
    padding: 0 18px;
  }
}
.checkout-form {
  margin-bottom: 20px;
  border: 1px solid #c2c7cc;
  border-bottom: 0;
  border-radius: 2px;
}
iframe.sq-input {
  display: block;
}
.input-row {
  position: relative;
  border-bottom: 1px solid #c2c7cc;
}
.input-row.error {
  border-color: #e52817;
}
.input-row.error:hover .input-row__error-tooltip,
.input-row.error .input-row__error-tooltip:after {
  display: block;
}
.input-row__label {
  display: inline-block;
  width: 30%;
  padding: 13px 0px 13px 25px;
  font-size: 15px;
  font-weight: 500;
  background-color: #f2f4f5;
  vertical-align: top;
}
.input-row.error .input-row__label {
  background-color: #f9cdc9;
}
.input-row__card-image {
  background-image: url("/v2/checkout/assets/card-brands.png");
  background-position: 0 36px;
  background-repeat: no-repeat;
  position: absolute;
  text-align: center;
  right: 10px;
  top: 12px;
  height: 24px;
  width: 36px;
}
.input-container.error::after {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 18px;
  border: 1px solid #e52817;
  border-radius: 9px;
  color: #e52817;
  content: "!";
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}
.input-row__error-tooltip {
  display: none;
  position: absolute;
  left: 15px;
  top: 85%;
  padding: 8px;
  background: #e33027;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  z-index: 1;
}
.input-row__error-tooltip:after {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 10px;
  height: 0;
  width: 0;
  margin-left: -4px;
  border: solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #e33027;
  border-width: 4px;
  content: " ";
  pointer-events: none;
}
.input-container.error.input-container--focus .input-row__error-tooltip,
.input-container.error.input-container--focus .input-row__error-tooltip::after {
  display: block;
}
.input-row[data-card-brand].error .input-row__card-image {
  display: none;
}
.input-row[data-card-brand="americanExpress"] .input-row__card-image {
  background-position: 0 0;
}
.input-row[data-card-brand="discover"] .input-row__card-image {
  background-position: 0 -75px;
}
.input-row[data-card-brand="JCB"] .input-row__card-image {
  background-position: 0 -100px;
}
.input-row[data-card-brand="masterCard"] .input-row__card-image {
  background-position: 0 -125px;
}
.input-row[data-card-brand="unknown"] .input-row__card-image {
  background-position: 0 -150px;
  opacity: 0.5;
}
.input-row[data-card-brand="visa"] .input-row__card-image {
  background-position: 0 -175px;
}
.input-row--focus {
  border-color: #368ec9;
}
.input-row--focus .input-row__label {
  background: #ecf5fa;
}
.input-row__input {
  display: block;
  margin: 0;
  width: 100%;
  padding: 15px 0 15px 20px;
  border: none;
  font-size: 14px;
}
.error .input-row__input {
  padding-right: 36px;
}
.input-row__input.sq-input {
  padding: 0px;
}
.input-row__input:focus {
  outline: none;
}
select.input-row__input {
  position: relative;
  z-index: 5;
  border: none;
  border-radius: 0;
  min-height: 47px;
  padding: 13px 39px 13px 24px;
  width: 100%;
  color: #2996cc;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
span.input-select__caret--positioned {
  left: 0;
  right: auto;
  margin-left: 8px;
}
span.input-select__caret {
  position: absolute;
  right: 25px;
  top: 20px;
  border-bottom: solid 2px #2996cc;
  border-right: solid 2px #2996cc;
  display: block;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.input-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 69%;
}
.input-container--1-2 {
  width: 34%;
}
.input-row__sq-input-group {
  display: inline-block;
  position: relative;
  width: 69%;
}
#input-container__input--expiration-date {
  width: 32%;
}
#input-container__input--cvv {
  width: 28%;
}
#input-container__input--postal-code {
  width: 40%;
  position: absolute;
  right: 0;
}
@media (max-width: 650px) {
  .checkout-form {
    margin-bottom: 0px;
    border: none;
  }
  .input-row {
    border-bottom: 1px solid #e3e5e6;
  }
  .input-row__label,
  .input-row__input,
  .input-container {
    width: 100%;
  }
  .input-row__label {
    float: none;
    padding: 20px 0px 0px 10px;
    background-color: #fff;
  }
  .input-row.input-row--focus {
    border-color: #368ec9;
  }
  .input-row--focus .input-row__label {
    background-color: inherit;
  }
  .input-row.error,
  .input-row.error .input-row__label,
  .input-row.error .input-row__input {
    background-color: #fff8f9;
  }
  .input-container.error::after {
    bottom: 3em;
    right: 2em;
  }
  .input-row__input {
    padding: 10px 0px 20px 10px;
  }
  .input-container--1-2 {
    width: 49%;
  }
  .input-row__sq-input-group {
    width: 100%;
  }
  #input-container__input--expiration-date {
    width: 30%;
  }
  #input-container__input--cvv {
    width: 30%;
  }
  #input-container__input--postal-code {
    width: 37%;
  }
}
.input-row-measure-container {
  position: absolute;
  top: -999px;
  left: -999px;
}
.border-header {
  border-bottom: 1px solid #c2c7cc;
}
.checkout-row {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
.checkout-column .divider-text {
  margin-top: 20px;
}
.checkout-column:not(:last-of-type) {
  padding-right: 30px;
}
.order-details-section {
  padding: 20px 0px;
  border-top: 1px solid #c2c7cc;
}
.order-details-section__item {
  padding: 10px 0px;
}
.order-details-section__item__desc {
  display: inline-block;
  width: 80%;
}
.order-details-section__item__price {
  float: right;
  text-align: right;
}
.square-logo {
  height: 20px;
  width: 20px;
}
.logo-container {
  line-height: 0;
}
.cart-before-form {
  display: none;
}
.cart-after-form {
  display: block;
}
@media (max-width: 650px) {
  .checkout-row {
    padding: 0px;
  }
  .checkout-header {
    padding: 27px 10px 10px 10px;
    margin: 0;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e2e3;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
  .order-details-section {
    padding: 20px 10px;
  }
  .order-details-section:first-of-type {
    border-top: none;
  }
}
@media (max-width: 1000px) {
  .checkout-column:not(:last-of-type) {
    padding: 0px;
  }
  .cart-before-form {
    display: block;
  }
  .cart-after-form {
    display: none;
  }
}
.confirmation-row {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.confirmation-email-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 24px;
  text-align: center;
}
.order-description-section {
  padding: 30px 0;
  border-bottom: 1px solid #e0e2e3;
}
.order-description-section__item {
  padding: 10px 0px;
}
.order-description-section__item__desc {
  display: inline-block;
  width: 80%;
}
.order-description-section__item__price {
  float: right;
  text-align: right;
}
@media (max-width: 1000px) {
  .order-description-section {
    border-top: 1px solid #e0e2e3;
  }
}
.order-total-label {
  float: left;
  font-size: 20px;
}
.banner__circle-checkmark {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
.error-page {
  text-align: center;
  color: #343a3f;
}
.error-page__header {
  margin-top: 140px;
  font-size: 120px;
  line-height: 1.2em;
  font-weight: 100;
}
.error-page__button {
  margin: 45px 0;
  border: 1px solid #009acc;
  border-radius: 2px;
  outline: none;
  background-color: #44a3d0;
  padding: 15px 110px;
  font-family: "Square Market", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  color: #fff;
  font-weight: 500;
}
.error-page__button:hover {
  background-color: #009acc;
  cursor: pointer;
}
.error-page__message {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 300;
}
.error-page__footer {
  margin-top: 100px;
  font-size: 20px;
  font-weight: 300;
}
